:root {


    // Fonts
    --font-comfortaa: '';
    --font-sora: '';
    --font-roboto: '';

    // Theme

    // -----------body-backgraund-------
    --background: white;

    
    //------------button---------------
    
    //primary
    --btn-primary-bg: #758BFD;
    --btn-primary-bg-hover:#8ea0ff;

}
   