



.root {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.formItem {
    display: flex;
    gap: 27px;
    justify-content: flex-end;
    align-items: center;
}


.inputHolder {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.error {
    font-size: 12px;
    color: red;
}