

.root {
    width: 100%;
    padding-bottom: 80px;
}



.title {
    margin-top: 44px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}

.description {
    margin-top: 44px;
    font-family: var(--font-sora);
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
}

.publications {
    padding: 36px;
    margin-top: 44px;
    border: 1px solid #CCCCCC;
    width: 100%;
    min-height: 340px;
    border-radius: 40px;
}

.addButton {
    cursor: pointer;
    width: 353px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:6px;
    background-color: var(--btn-primary-bg);
    display: flex;
    border: none;
    border-radius: 40px;
    &:hover {
        background-color: var(--btn-primary-bg-hover);
    }

    svg {
        width: 24px;
        height: auto;
    }

    p {
        font-family: var(--font-sora);
        font-size: 24px;
        line-height: 24px;
        font-weight: 600;
    }
}

.cardsHolder {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
    column-gap: 25px;
    row-gap: 55px;
}