


.root {
    padding-bottom: 51px;
}

.form {
    display: flex;
    flex-direction: column;
    input {
        font-size: 16px;
      &::placeholder {
        font-size: 16px;
        color: #00000080 !important;
      }    
    }

    textarea {
        font-size: 16px;
       &::placeholder {
        font-size: 16px;
        color: #00000080 !important;
      }    
    }

    label {
        font-family: var(--font-sora);
        font-size: 20px;
        line-height: 30px;
    }
}

.title {
    margin-top: 44px;
    font-size: 40px;
    line-height: 49px;
    font-weight: 700;
    text-align: center;
}

.formComponent {
    margin-top: 34px;
}

.personalData {
    font-size: 20px;
    font-family: var(--font-sora);
    margin-top: 34px;
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    a { 
        
        font-family: inherit;
        font-weight: 300;
        color: #758BFD;
        border-bottom: 1px solid #758BFD;
    }
}

.submitBtn {
    width: 100%;
    max-width: 727px;
    align-self: flex-end;
    margin-top: 34px;
    display: flex;
    justify-content:flex-start;

    >button {
        cursor: pointer;
        color: white;
        font-size: 16px;
        font-family: var(--font-sora);
        width: 148px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--btn-primary-bg);
        border-radius: 5px;
        border: none;
        &:hover {
            background: var(--btn-primary-bg-hover);
        }
    }
}